* {
    margin: 0;
    padding: 0;
   
}

.container{
  
}

.login-form{
    width: 1440;
    height: 1024;
    background-color: #002062;
}

.logo {
    height:114px ;
    width: 419px;
    padding: 88px 0px 0px 89px;

}

.login-form span{
    width: 402px;
    height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 20px;
    color: #fff;
    padding: 0px 0px 0px 100px ;
}

