


body {
    margin-top: 20px;
}


.login-form {
    background-color: #002062;
    width: 45%;
    padding: 20px;
    border-top-left-radius: 31px;
    border-bottom-left-radius: 31px;


}




.login-form span {
    color: #fff;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 20px;
    margin: 25px 0px 35px 0px;

}





.f-password {
    text-decoration: none;
    color: white;
    margin: 0px 0px 0px 230px;
}

.sign-in {
    margin: 45px 0px 0px 0px;
    color: white;

}

.type-input-sign-in {
    height: 45.2px;
    width: 350px;
    border-radius: 10px;
    border: none;
    background-color: #1A4FBA;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 17.2px;
}

.content-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: #9B9B9B;

}

.parent {
    display: flex;

}

.image {
    display: flex;
    width: 55%;
}

.img {
    width: 100%;
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
}

.links-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 50px 0px;
}

.link-contant{
    height: 45.2px;
    width: 350px;
    background-color: #0F2D6B;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 17.2px;
    color: #C1B6B6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-contant a{
    margin: 0px 0px 0px 7px;
    color: #C1B6B6;
    text-decoration: none;
}

.fb-link{
    height: 45.2px;
    width: 350px;
    background-color: #0F2D6B;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 17.2px;
    color: #C1B6B6;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.fb-link a{
    margin: 0px 0px 0px 7px;
    text-decoration: none;
    color: #C1B6B6;
    
}

.Apple-link{
    height: 45.2px;
    width: 350px;
    background-color: #0F2D6B;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 17.2px;
    color: #C1B6B6;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.Apple-link a{
    margin: 0px 11px 0px 7px;
    color: #C1B6B6;
    text-decoration: none;
}

.f{
    margin: 0px 0px 0px 12px;
}

.div{
    display: flex;
    gap: 3px;
    margin: 10px 0px 0px 0px ;
}

.acnt{
    text-decoration: none;
    color: #C1B6B6;
}

.acnt-two{
    text-decoration: none;
    color: #4671C6;
    
}

